/* Element from another namespace */
/* Vertical flow */

titleStmt > title {
  display: block;
  margin-left: 4em;
  font-size: 2em;
  font-weight: bolder;
}

head {
  display: block;
  font-size: 2em;
}

listPerson {
  display: block;
  margin-left: 4em;
}

person,
person > persName,
affiliation,
p,
biblList,
birth,
death {
  display:block;
  margin-bottom: 0.5em;
}

person {
  margin-bottom: 2em;
}

birth::before {
  content: "Né le ";
}

death::before {
  content: "Mort le ";
}

birth > placeName::before, death > placeName::before {
  content: "à "
}

hi[rend="superscript"] {
    font-size: .83em;
    line-height: 0.5em;
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

/* Horizontal flow */
date {
    display:inline;
}

affiliation, death, birth, p {
  margin-left: 3em;
  margin-right: 3em;
}


link[href]:before{
    display:inline;
    link:attr(href);
    content: "Click to open: " attr(href);
}

/* Title rendering*/
person > persName[full]{
    font-size: 1.4em;
    font-weight:bolder;
}

p {
  font-size: 1.3em;
  line-height: 1.4em;
}

person > note:not([type]) {
  color: blue;
  display: none;
}

roleName{
  color: red;
}

bibl, idno {
  font-style: italic;
  font-size: 1em;
}

bibl:not(:last-child):after {
  content:', '
}

affiliation > date {
  font-style: italic;
}

idno {
  display: block;
}

idno[type="conbavil"]:before {
  color: red;
  content: "Id Conbavil : " ;
}

code {
  display:inline;
  font-family:monospace;
}

emph {
  display:inline;
  font-style:italic;
}

foreign {
  display:inline;
  font-style: italic;
}
